body, html {
    height: 100%;
    /* width: 80%; */
    margin: 0 auto;
}

html {
    overflow-y: hidden;
    overflow-x: scroll;
}

p {
    text-align: center;
}

.parallax {
    /* The image used */
    background-image: url('https://static1.squarespace.com/static/55937cd5e4b06dafe082a6e6/t/5b2a44bc758d467f79022477/1529539542607/web-big.jpg?format=2500w');
  
    /* Set a specific height */
    /* min-height: 500px;  */

    /* Full height */
    height: 50%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    position: absolute;
    height:500px;
    /* background-color:red; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    color: antiquewhite;
    box-shadow: 0px 10px 50px black;
}

.parallax2 {
    background-image: url('https://static1.squarespace.com/static/55937cd5e4b06dafe082a6e6/t/5b2a43dff950b7e84b9743c8/1529539537058/Discovery+copy.png?format=2500w');
    height: 100%;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}